<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'tailwind.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
  <style>
    [x-cloak] {display: none !important;}

    .content-wrap{
      padding-bottom: 2.5rem;
    }


  </style>
</head>
<body class="bg-white-700 mx-auto">

<div class="sticky absolute top-0 left-0 right-0 z-10 mb-10">

{%section 'announcement-bar'%}

{% unless page.url == '/pages/sign-up' %}
          {% section 'header' %}
     {% endunless %}
     
</div>
     
  
<main role="main" class="mt-30 pb-44 md:pb-10 relative min-h-screen">



   
      <div class="content-wrap">
    {{ content_for_layout }}
 </div>

{% if page.url == '/pages/about' %}
  {%section 'about-us'%}
{% endif %} 

{% if page.url == '/pages/sign-up' %}
   {% section 'newsletter' %}
 {% endif %}

    {% section 'footer-section' %}
</main>


   
  
     
 



   
</body>
</html>
