{% if section.settings.about_us_page_only == true or template.name == 'template-about-us' %}


    

<div class="max-w-6xl mx-auto my-4 pb-10">
    <div class="grid grid-cols-1 gap-1 md:grid-cols-2">
    <img src="{{ section.settings.about_picture | img_url: '800x800' }}" alt="{{ media.preview_image.alt }}" class=" h-full object-cover about-us-img" >
    {% comment %} {{ page.content }} {% endcomment %}
        <div class="leading-10 px-5 py-7 md:pl-10">
           <h1 class="title text-9xl pb-7 pt-5 md:pt-0 -mt-10">{{ section.settings.title | escape }}</h1> 
           <p class="font-light">{{ section.settings.description | newline_to_br }}</p> 
    </div>

    </div>
</div>

 
{% endif %}

{% schema %}
    {
        "name": "About Us",
        "settings": [
                     {
                        "type": "checkbox",
                        "id": "about_us_page_only",
                        "label": "About us page only",
                        "default": true
                    },
                    {
                        "type": "image_picker",
                        "id": "about_picture",
                        "label": "About Us Picture"
                    },
                    {
                        "type":"text",
                        "id": "title",
                        "label": "Heading",
                        "default": "Write something about us..."
                    },
                    {
                        "type": "textarea",
                        "id": "description",
                        "label": "Text"
                    }
        
    ]
    }
{% endschema %}





