<style>

   .submit-contact{
      background-color: #152238;
      border: none;
   }

   footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    padding-top: 3px;
    background-color: #152238;
    display: flex;
  }

  .links a,
  .copyright {
    font-size: 10px;
  }

  @media screen and (min-width: 350px) and (max-width: 900px) {
    /* footer a, .copyright {
        display:block;
        font-size:9px;
        padding: 1px;
    } */
    footer {
      margin-top: 20px;
    }

    .main-footer a {
      display: block;
    }
    .links {
      display: block;
    }
    .copyright {
      margin-top: 6px;
    }
  }

</style>
   
<div class="flex flex-col items-center my-8 h-full">
    {% if section.settings.title != blank %}
        <h1 class="text-3xl font-medium my-8 md:my-16">{{ section.settings.title }}</h1>
    {% endif %}
    
    {% form 'contact' %}

        {% if form.errors %}
            <div class="border p-5">
                <div class="flex flex-row items-center w-full my-3">
                    <div class="text-red-500">
                        {% render 'icon-failed' %}
                    </div>
                    <div class="text-sm font-medium ml-3">
                        Oh no! Your message is not sent
                    </div>
                </div>
                <ul class="px-4 mb-3 ml-7 list-decimal">
                    {% for error in form.errors %}
                        <li>
                            <span>{{ form.errors.messages[error] }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% elsif form.posted_successfully? %}
            <div class="flex flex-row items-center w-full my-3 p-5">
                <div class="text-green-500">
                    {% render 'icon-success' %}
                </div>
                <div class="text-sm font-medium ml-3">Your message is sent successfully</div>
            </div>
        {% endif %}

        <div class="max-w-6xl mx-auto justify-center flex-1 items-center px-4">
            <div class="flex px-1 mb-3">
                <div class="px-3 md:w-1/2">
                    <label class="uppercase text-xs text-gray-500 font-medium" for="contact_name">Name</label>
                    <input class="border py-3 px-4 mb-3 text-gray-700 w-full" type="text" name="contact[name]" id="contact_name">
                </div>
                <div class="px-3 md:w-1/2">
                    <label class="uppercase text-xs text-gray-500 font-medium" for="contact_email">Email address</label>
                    <input class="border py-3 px-4 mb-3 text-gray-700 w-full" type="email" name="contact[email]" id="contact_email">
                </div>
            </div>

            <div class="flex px-1 mb-3">
                <div class="w-full px-3">
                    <label class="uppercase text-xs text-gray-500 font-medium" for="contact_message">Message</label>
                    <textarea class="border py-3 px-4 mb-3 text-gray-700 w-full" name="contact[body]" id="contact_message"></textarea>
                </div>
            </div>

            <div class="flex px-1 mb-3">
                <div class="w-full px-3 ">
                    <input type="submit" class="w-full cursor-pointer px-4 py-2  text-base font-medium text-white hover:bg-gray-900 submit-contact" value="SEND">
                </div>
            </div>
        </div>        
    {% endform %}
</div>



<!----------- FOOTER ---------->

<footer class="fixed flex mt-30">
  <div
    class="flex items-center pt-2 pb-2 md:justify-start md:space-x-10 -mt-1 footer-background"
  >
   

    {%- assign footer_linklist = section.settings.footer_linklist -%} {% if
    linklists[footer_linklist].links.size > 0 %}
    <div class=" ">
      <ul
        class="block md:flex  ml-5 text-xs items-center md:space-x-10 text-white links"
      >
        {% for link in linklists[footer_linklist].links %}
        <li class="links">
          <a href="{{ link.url }}" class="hover:uppercase">{{ link.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      <div
        class="flex ml-5 text-xs items-center md:space-x-10 text-white links"
      >
        <div>
          <p class="text-white copyright">
            Copyright &copy; {{ "now" | date: "%Y" }}, {%comment%}{{
              shop.name | link_to: "/"
            }}{%endcomment%}NoTW<span class="font-extralight">&trade;</span>
          </p>
        </div>
      </div>

      <!------NAVIGATION MENU------->
    </div>

    <!------CART BUTTON / ACCOUNT LINKS IF ENABLED------->
  </div>
</footer>




{% schema %}
{
    "name": "Contact Form",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Contact Us"
        }, 
        {
      "type": "link_list",
      "id": "footer_linklist", 
      "label": "First menu", 
      "default": "footer" 
        } 
    ], 
    
    "presets": [
        {
            "name": "Contact Form"
        }
    ]
   
}
{% endschema %}