<h1>{{ section.settings.title}}</h1>
<div>{{ section.settings.content }}</div>


{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Newsletter" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the newsletter section
  - Subheading: description of the newsletter section
{%- endcomment -%}

  <section>
  {% if section.settings.section_title != blank %}
    <label for="Email">{{ section.settings.section_title | escape }}</label>
  {% endif %}
  {% if section.settings.subheading != blank %}
    <p>{{ section.settings.subheading | escape }}</p>
  {% endif %}

  {% form 'customer' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %} Thank you for signing up!
      <p>{{ 'Thank you for signing up!'}}</p>
    {% else %}
        <input type="email"
          name="customer[email]"
          id="Email"
          value="{% if customer.email != blank %}{{ customer. email }}{% endif %}"
          placeholder="{{ 'E-MAIL'}}"
          autocorrect="off"
          autocapitalize="off" class="text-center">
        <br/>
        <div class="text-center">
            <button type="submit" name="commit" id="Subscribe" value="send" class="flex content-center items-center "> SUBMIT {%render 'icon-submit'%}
            </button>
        </div>
    
    {% endif %}
  {% endform %}
</section>


{% schema %}
  {
    "name": "Newsletter",
    "class":"flex items-center justify-center text-center py-7 h-screen",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "A short sentence describing what someone will receive by subscribing"
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      }
    ],
    "presets": [{
      "name": "Newsletter",
      "category": "Promotional"
    }]
  }
{% endschema %}










